 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.15), rgba(255,255,255,0.15)), url("images/Kristal-subtle-glass-white-background-pattern-patternpictures-0220-1500x1000.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 712px;
}

.u-section-1 .u-icon-1 {
  width: 781px;
  height: 521px;
  margin: 191px auto 0;
  padding: 0;
}

.u-section-1 .u-group-elements-1 {
  width: 385px;
  min-height: 204px;
  margin: -566px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: McLaren;
  margin: 0 auto 0 28px;
}

.u-section-1 .u-text-2 {
  font-family: McLaren;
  margin: 16px auto 0 5px;
}

.u-section-1 .u-group-elements-2 {
  min-height: 45px;
  height: auto;
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: Poppins;
  border-style: solid;
  text-shadow: 0px 4px 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  box-shadow: 0px 4px 40px 0px rgba(108,99,255,0.8);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: linear-gradient(to right, #6d64ff, #837cfd);
  margin: 0 auto 0 0;
  padding: 8px 69px 9px 68px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  border-style: solid;
  transition-duration: 0.75s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -45px 0 0 auto;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-social-icons-1 {
  height: 53px;
  min-height: 16px;
  width: 53px;
  min-width: 16px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 63px auto 0 16px;
}

.u-section-1 .u-icon-2 {
  height: 32px;
}

.u-section-1 .u-list-1 {
  width: 32px;
  margin: 8px auto 31px 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 207px;
}

.u-section-1 .u-container-layout-1 {
  padding: 4px;
}

.u-section-1 .u-social-icons-2 {
  height: 24px;
  min-height: 16px;
  width: 24px;
  min-width: 16px;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-1 .u-icon-3 {
  height: 24px;
}

.u-section-1 .u-container-layout-2 {
  padding: 4px;
}

.u-section-1 .u-social-icons-3 {
  height: 24px;
  min-height: 16px;
  width: 24px;
  min-width: 16px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-icon-4 {
  height: 24px;
}

.u-section-1 .u-container-layout-3 {
  padding: 4px;
}

.u-section-1 .u-social-icons-4 {
  height: 24px;
  min-height: 16px;
  width: 24px;
  min-width: 16px;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-icon-5 {
  height: 24px;
}

.u-section-1 .u-container-layout-4 {
  padding: 4px;
}

.u-section-1 .u-social-icons-5 {
  height: 24px;
  min-height: 16px;
  width: 24px;
  min-width: 16px;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-icon-6 {
  height: 24px;
}

.u-section-1 .u-container-layout-5 {
  padding: 4px;
}

.u-section-1 .u-social-icons-6 {
  height: 24px;
  min-height: 16px;
  width: 24px;
  min-width: 16px;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-icon-7 {
  height: 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 126px;
  }

  .u-section-1 .u-group-elements-1 {
    height: auto;
    margin-top: -576px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 93px;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(59, 89, 152) !important;
  }

  .u-section-1 .u-list-1 {
    margin-top: -8px;
    margin-bottom: 51px;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(59, 89, 152) !important;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(59, 89, 152) !important;
  }

  .u-section-1 .u-icon-5 {
    color: rgb(59, 89, 152) !important;
  }

  .u-section-1 .u-icon-6 {
    color: rgb(59, 89, 152) !important;
  }

  .u-section-1 .u-icon-7 {
    color: rgb(59, 89, 152) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-icon-1 {
    width: 721px;
    height: 481px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: -526px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 712px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-icon-1 {
    width: 340px;
    height: 227px;
    margin-top: 261px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-top: -410px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: 36px;
  }

  .u-section-1 .u-btn-2 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -299px;
  }
}

.u-section-1 .u-social-icons-2,
.u-section-1 .u-social-icons-2:before,
.u-section-1 .u-social-icons-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-social-icons-3,
.u-section-1 .u-social-icons-3:before,
.u-section-1 .u-social-icons-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-social-icons-4,
.u-section-1 .u-social-icons-4:before,
.u-section-1 .u-social-icons-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-social-icons-5,
.u-section-1 .u-social-icons-5:before,
.u-section-1 .u-social-icons-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-social-icons-6,
.u-section-1 .u-social-icons-6:before,
.u-section-1 .u-social-icons-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
  color: #ffffff !important;
  box-shadow: 0px 4px 40px 0px rgba(108,99,255,0.8) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
  color: #ffffff !important;
  box-shadow: 0px 4px 40px 0px rgba(108,99,255,0.8) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) rotate(0deg) !important;
  border-radius: 6px !important;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) rotate(0deg) !important;
  border-radius: 6px !important;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 511px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 42px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 427px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 15px;
}

.u-section-2 .u-image-1 {
  height: 518px;
  width: 500px;
  margin: -65px 9px -26px auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 427px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-group-elements-1 {
  min-height: 180px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  font-style: normal;
  text-transform: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-line-1 {
  width: 360px;
  border-style: dotted;
  height: 4px;
  margin: 19px auto 0 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  margin: 41px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-2 .u-image-1 {
    height: 434px;
    width: 440px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 276px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 701px;
    margin: 23px auto 55px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    height: 326px;
    width: 330px;
    margin-top: 0;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: -48px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-line-1 {
    transform-origin: left center 0px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 293px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: -10px;
    min-height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -2px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: 2px;
  }
} .u-section-3 {
  min-height: 45px;
}

.u-section-3 .u-shape-1 {
  height: 43px;
  margin-top: 2px;
  margin-bottom: 0;
} .u-section-4 {
  background-image: none;
  min-height: 863px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 67px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-family: Poppins;
  font-weight: 900;
  font-size: 6rem;
  margin: 13px 6px 0 170px;
}

.u-section-4 .u-image-1 {
  min-height: 608px;
  background-image: url("images/Helpingapartner-pana.svg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 865px;
  margin: 51px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 500;
  margin: 13px 285px 60px 262px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 839px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 76px;
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 138px);
    margin-right: calc(((100% - 1140px) / 2) + 138px);
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 95px;
    margin-right: 95px;
    margin-bottom: 51px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1593px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-4 .u-image-1 {
    min-height: 931px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-text-3 {
    width: 521px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1013px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 3.75rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 698px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 551px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 800px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-image-1 {
    min-height: 439px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-3 {
    width: 289px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-5 {
  min-height: 45px;
}

.u-section-5 .u-shape-1 {
  height: 43px;
  margin-top: -3px;
  margin-bottom: 5px;
}.u-section-6 .u-sheet-1 {
  min-height: 840px;
}

.u-section-6 .u-image-1 {
  width: 705px;
  height: 530px;
  margin: 310px auto 0 -162px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1120px;
  margin: -819px 0 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 712px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-family: Poppins;
  font-weight: 600;
  margin: 39px 153px 0 79px;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 25px 125px 0 84px;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.125rem;
  text-transform: none;
  border-style: solid;
  font-weight: 700;
  font-family: Poppins;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 25px auto 0 84px;
  padding: 10px 52px 10px 51px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 357px;
  background-image: linear-gradient(135deg, white, #e6e7fe);
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 96px;
  width: 96px;
  color: rgb(255, 138, 138) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  width: 199px;
  font-family: Poppins;
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  margin: 25px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 357px;
  background-image: linear-gradient(45deg, #e6e7fe, white);
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 96px;
  width: 96px;
  color: rgb(255, 193, 102) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  width: 199px;
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 600;
  margin: 25px auto 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 346px;
  background-image: linear-gradient(45deg, white, #e6e7fe);
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 96px;
  width: 96px;
  color: rgb(150, 147, 230) !important;
  margin: 0 auto;
  padding: 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 600;
  margin: 25px 5px 0;
}

.u-section-6 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 346px;
  background-image: linear-gradient(135deg, #e6e7fe, #ffffff);
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-icon-4 {
  height: 96px;
  width: 96px;
  margin: 5px 58px 0 auto;
}

.u-section-6 .u-text-9 {
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 600;
  margin: 20px 5px 0;
}

.u-section-6 .u-text-10 {
  margin: 20px 60px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-6 .u-image-1 {
    width: 697px;
    height: 523px;
    margin-top: 361px;
    margin-left: -250px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -762px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 598px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 108px;
    margin-left: 34px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 80px;
    margin-left: 39px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 39px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 347px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 2px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 290px;
  }

  .u-section-6 .u-text-7 {
    width: 159px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 290px;
  }

  .u-section-6 .u-icon-4 {
    margin-right: 45px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 0;
    margin-left: -252px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -1081px;
    margin-bottom: -402px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2139px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 246px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
    padding: 9px 41px 11px 40px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1745px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 255px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 37px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 17px;
    margin-right: 3px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 375px;
  }

  .u-section-6 .u-text-5 {
    width: 165px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 347px;
  }

  .u-section-6 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 347px;
  }

  .u-section-6 .u-icon-4 {
    margin-right: auto;
  }

  .u-section-6 .u-text-10 {
    margin-right: 0;
  }
}

.u-section-6 .u-btn-1,
.u-section-6 .u-btn-1:before,
.u-section-6 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 716px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-family: Poppins;
  font-weight: 600;
  text-transform: none;
  margin: 60px auto 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 455px;
}

.u-section-7 .u-container-layout-1 {
  padding: 18px 30px;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  width: 365px;
  margin: 39px auto -12px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 455px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-7 .u-list-1 {
  width: 453px;
  margin: 19px auto -18px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(50% - 5.5px) calc(50% - 5.5px);
  min-height: 418px;
  grid-gap: 11px 11px;
}

.u-section-7 .u-list-item-1 {
  background-image: linear-gradient(white, #e6e7fe);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 19px 0;
}

.u-section-7 .u-icon-1 {
  width: 127px;
  height: 96px;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 18px 18px 0;
}

.u-section-7 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(white, #e6e7fe);
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 19px 0;
}

.u-section-7 .u-icon-2 {
  width: 127px;
  height: 96px;
  background-image: none;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 18px 18px 0;
}

.u-section-7 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(white, #e6e7fe);
}

.u-section-7 .u-container-layout-5 {
  padding: 20px 19px 0;
}

.u-section-7 .u-icon-3 {
  width: 127px;
  height: 96px;
  background-image: none;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 18px 18px 0;
}

.u-section-7 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(white, #e6e7fe);
}

.u-section-7 .u-container-layout-6 {
  padding: 20px 19px 0;
}

.u-section-7 .u-icon-4 {
  width: 127px;
  height: 96px;
  background-image: none;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 18px 18px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 375px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-7 .u-list-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 732px;
    margin: 19px -12px 19px auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin: 0 3px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 436px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 393px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 19px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 19px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-5 {
    padding-top: 19px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-6 {
    padding-top: 19px;
  }

  .u-section-7 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 270px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1355px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 834px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 0 8px;
  }

  .u-section-7 .u-list-1 {
    width: 320px;
    margin: 72px auto -50px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 790px;
  }

  .u-section-7 .u-container-layout-3 {
    padding: 8px 20px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 15px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1rem;
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-7 .u-container-layout-4 {
    padding: 8px 20px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1rem;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-7 .u-container-layout-5 {
    padding: 8px 20px;
  }

  .u-section-7 .u-text-5 {
    font-size: 1rem;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-7 .u-container-layout-6 {
    padding: 8px 20px;
  }

  .u-section-7 .u-text-6 {
    font-size: 1rem;
    margin-left: 18px;
    margin-right: 18px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 828px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 37px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 731px;
}

.u-section-8 .u-container-layout-1 {
  padding: 21px 0;
}

.u-section-8 .u-text-1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 2.25rem;
  margin: 19px 60px 0 30px;
}

.u-section-8 .u-text-2 {
  letter-spacing: 0px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Poppins;
  margin: 40px 27px 0 30px;
}

.u-section-8 .u-form-1 {
  height: 435px;
  width: 535px;
  margin: -6px auto 0;
}

.u-section-8 .u-label-1 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.u-section-8 .u-input-1 {
  height: 36px;
}

.u-section-8 .u-label-2 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.u-section-8 .u-input-2 {
  height: 36px;
}

.u-section-8 .u-form-group-3 {
  margin-left: 0;
}

.u-section-8 .u-label-3 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.u-section-8 .u-input-3 {
  height: 36px;
}

.u-section-8 .u-label-4 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  padding: 6px 0 8px;
}

.u-section-8 .u-text-3 {
  margin: 29px 29px 0;
}

.u-section-8 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 13px auto 0;
  padding: 10px 40px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 731px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 0 24px;
}

.u-section-8 .u-image-1 {
  width: 465px;
  height: 465px;
  margin: 27px 37px 0 auto;
}

.u-section-8 .u-text-4 {
  font-family: Poppins;
  margin: 83px auto 0 83px;
}

.u-section-8 .u-social-icons-1 {
  height: 52px;
  min-height: 16px;
  width: 300px;
  min-width: 120px;
  white-space: nowrap;
  margin: 19px auto 0 83px;
}

.u-section-8 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-8 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
}

.u-section-8 .u-icon-3 {
  color: rgb(85, 172, 238) !important;
}

.u-section-8 .u-icon-4 {
  height: 100%;
  color: rgb(242, 103, 152) !important;
}

.u-section-8 .u-icon-5 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-form-1 {
    width: 486px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 603px;
  }

  .u-section-8 .u-image-1 {
    width: 454px;
    height: 454px;
    margin-right: 0;
  }

  .u-section-8 .u-social-icons-1 {
    width: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 37px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-form-1 {
    width: 372px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 17px;
  }

  .u-section-8 .u-image-1 {
    width: 348px;
    height: 348px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
  }

  .u-section-8 .u-social-icons-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 137px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 728px;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-8 .u-image-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 796px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-label-1 {
    font-family: Poppins;
  }

  .u-section-8 .u-label-2 {
    font-family: Poppins;
  }

  .u-section-8 .u-label-3 {
    font-family: Poppins;
  }

  .u-section-8 .u-label-4 {
    font-family: Poppins;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 568px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-8 .u-social-icons-1 {
    width: 300px;
    margin-top: 27px;
    margin-left: auto;
  }
}

.u-section-8 .u-btn-2,
.u-section-8 .u-btn-2:before,
.u-section-8 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}